*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.section {
  padding: 5rem 0 6.25rem;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 0.937rem 2.812rem;
  border: none;
  border-radius: 6.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1px;
  color: #292929;
  background-color: #F1CDB3;
}

.button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.paragraph-l {
  margin: 0;
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 160%;
  color: #4C4C4C;
}

.heading {
  margin: 0 auto;
  margin-bottom: 3.75rem;
  max-width: 26rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.187rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2.2px;
  color: #545454;
  text-align: center;
}

.header {
  position: absolute;
  top: 3.75rem;
  width: 100%;
}

.header__row {
  padding: 0 2.5rem 0 2.5rem;
}

.burger {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.678rem;
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0.2rem 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.menu__item {
  color: #ffffff;
}

.menu__item-link {
  position: relative;
  font-weight: 400;
  font-size: 0.937rem;
  line-height: 1.5;
  color: #CDCDCD;
}

.menu__item-link:hover {
  cursor: pointer;
  color: #FAFAFA;
}

.menu__item-link:hover::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.item-link__active {
  color: #FAFAFA;
}

.item-link__active::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  margin: 0 0 0.6rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #F1CDB3;
}

.logo__subtitle {
  margin: 0;
  font-size: 0.812rem;
  letter-spacing: 1.35px;
  color: #ffffff;
}

.hero {
  padding-top: 11.25rem;
  background: url("/shelter/assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-size: cover;
}

.hero__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 2.5rem 0 2.5rem;
}

.hero-text {
  margin-right: 2.625rem;
  padding-top: 10.31rem;
  max-width: 28.75rem;
}

.hero__title {
  margin: 0 0 2.625rem 0;
  max-width: 23rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
}

.hero__subtitle {
  margin-bottom: 2.58rem;
  color: #ffffff;
}

.hero-image__wrapper {
  height: 45.5rem;
}

.about__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 10rem;
}

.about__text {
  margin-top: 1rem;
  max-width: 26.875rem;
}

.about-heading {
  margin: 0;
  max-width: 22.5rem;
  text-align: left;
}

.about-subheading {
  margin-top: 1.6rem;
  line-height: 1.5rem;
}

.pets {
  background-color: #F6F6F6;
}

.pets__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto 3.75rem;
}

.pets-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16.785rem;
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875rem;
  border: none;
  border-radius: 0.6rem;
  background-color: #FAFAFA;
}

.pets-card:hover {
  background-color: #ffffff;
}

.pets-card__image {
  margin-bottom: 1.59rem;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

.pets-card__name {
  margin-bottom: 1.875rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1px;
}

.button__arrow {
  position: absolute;
  top: 51.1%;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: transparent;
}

.button__arrow:hover {
  cursor: pointer;
  background-color: #F1CDB3;
}

.button__arrow-prev {
  left: 10.5%;
  background: transparent url("/shelter/assets/icons/Arrow.svg") center center no-repeat;
}

.button__arrow-next {
  right: 10.5%;
  background: transparent url("/shelter/assets/icons/Arrow_next.svg") center center no-repeat;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: '';
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: '';
}

.help {
  padding-bottom: 0;
}

.help-heading {
  margin-bottom: 3.7rem;
}

.help-list {
  padding: 0 3.8rem 0 3.2rem;
}

.help-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.8rem;
  width: 100%;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.4375rem;
  width: 20%;
  max-width: 10.31rem;
}

.list-item:nth-child(2) {
  padding-left: 0.4rem;
}

.list-item:nth-child(3) {
  padding-right: 0.8rem;
}

.list-item:nth-child(4) {
  padding-right: 1.6rem;
}

.list-item:nth-child(6) {
  padding-right: 3.7rem;
}

.list-item:nth-child(7) {
  padding-right: 6rem;
}

.list-item:nth-child(8) {
  padding-right: 3.3rem;
}

.list-item:nth-child(9) {
  padding-left: 1.5rem;
}

.item-img__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.6rem;
  min-height: 4.1rem;
}

.item-heading {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 1.2px;
}

.donation {
  padding: 4.2rem 0 6.4rem;
  background-color: #F6F6F6;
}

.donation__row {
  margin-right: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.donation-dog__wrap {
  padding-top: 1.68rem;
}

.donation__text {
  padding-left: 1.875rem;
  max-width: 23.75rem;
}

.donation-heading {
  max-width: 18.75rem;
}

.donation-subheading {
  margin-top: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.credit-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 1.3rem;
  padding: 0.625rem 0.9375rem;
  background-color: #F1CDB3;
  border: none;
  border-radius: 0.5625rem;
}

.credit-card__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credit-card__link {
  padding-left: 0.9375rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 1.2px;
  color: #545454;
}

.credit-card__desk {
  margin: 0;
  width: 24rem;
  font-style: italic;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #B2B2B2;
}

.footer {
  background: url("/shelter/assets/images/footer-background.jpg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
}

.footer__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2.4rem;
}

.footer-heading {
  max-width: 18rem;
  color: #ffffff;
}

.footer__item {
  padding: 1.2rem 2.5rem 0;
  max-width: 23.75rem;
}

.footer__item:nth-child(2) {
  padding-left: 2.1rem;
}

.footer__item-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.footer__item--puppy {
  padding-top: 0;
}

.footer__item-link {
  padding-left: 1.25rem;
  color: #F1CDB3;
}

.footer__location {
  margin-top: 2rem;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .header {
    top: 1.875rem;
  }
  .header__row {
    padding: 0 1.875rem 0;
    width: 100%;
  }
  .hero {
    padding-top: 9.375rem;
  }
  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .hero-text {
    margin-left: 9.625rem;
    padding-top: 0;
    max-width: 28.75rem;
  }
  .hero-text__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__subtitle {
    margin-bottom: 2.87rem;
  }
  .hero-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .hero-image__wrapper {
    margin: 6.25rem 0 0 10.5rem;
    width: 35.5625rem;
    height: 37rem;
  }
  .about__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 10rem;
  }
  .about__text {
    margin: 0 0 5rem;
  }
  .pets {
    padding-top: 4.8rem;
  }
  .pets__slider {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    max-width: 44.25rem;
  }
  .pets-card__image {
    margin-bottom: 1.7rem;
  }
  .button__arrow-prev {
    left: 4%;
  }
  .button__arrow-next {
    right: 4%;
  }
  .help-list {
    padding: 0 2.1rem 0 2.2rem;
  }
  .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3.4375rem;
    width: 33%;
    max-width: 10.625rem;
  }
  .list-item:nth-child(2) {
    padding-left: 0rem;
  }
  .list-item:nth-child(3) {
    padding-right: 0rem;
  }
  .list-item:nth-child(4) {
    padding-right: 0rem;
  }
  .list-item:nth-child(6) {
    padding-right: 0rem;
  }
  .list-item:nth-child(7) {
    padding-right: 0rem;
  }
  .list-item:nth-child(8) {
    padding-right: 0rem;
  }
  .list-item:nth-child(9) {
    padding-left: 0rem;
  }
  .donation {
    padding: 5.1rem 0 6.1rem;
  }
  .donation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .donation-dog__wrap {
    margin: 0 auto;
    padding-top: 1.68rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation__text {
    margin: 0 auto 2.1rem;
    padding-left: 0;
    max-width: 23.75rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 0;
  }
  .footer__item {
    padding: 1.9rem 0 4rem 3.3rem;
    max-width: 23.75rem;
  }
  .footer__item:nth-child(2) {
    padding-left: 1.7rem;
  }
  .footer__item--puppy {
    padding: 0;
    width: 18.75rem;
    height: 19.375rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    padding: 2.625rem 0;
  }
  .heading {
    margin: 0 auto;
    width: 100%;
    font-size: 1.5625rem;
    text-align: center;
    letter-spacing: 1.2px;
  }
  .paragraph-l {
    text-align: justify;
  }
  .container {
    width: 93.75%;
  }
  .header__row {
    padding: 0;
    width: 100%;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 51.5rem;
    position: absolute;
    top: -2rem;
    right: 0;
    background-color: rgba(41, 41, 41, 0.6);
  }
  .navigation-hide {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    right: -320px;
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 51.5rem;
    list-style-type: none;
    background-color: #292929;
  }
  .menu__item {
    color: #ffffff;
    margin-bottom: 2.5rem;
  }
  .menu__item-link {
    font-size: 2rem;
    line-height: 160%;
    color: #CDCDCD;
  }
  .menu__item-link:hover {
    cursor: pointer;
    color: #FAFAFA;
  }
  .menu__item-link:hover::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
  }
  .item-link__active {
    color: #FAFAFA;
  }
  .burger {
    display: block;
    position: absolute;
    top: 28px;
    right: 53px;
    width: 30px;
    height: 3px;
    background-color: #F1CDB3;
    border: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .burger::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: -10px;
    top: 0;
    right: 0;
    width: 30px;
    height: 3px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    background-color: #F1CDB3;
  }
  .burger::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 10px;
    top: 0;
    right: 0;
    width: 30px;
    height: 3px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    background-color: #F1CDB3;
  }
  .burger--active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .hero__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .hero__title {
    max-width: 12rem;
    font-size: 1.5625rem;
    text-align: center;
    letter-spacing: 1.17px;
  }
  .hero__subtitle {
    max-width: 18.75rem;
    font-size: 0.9325rem;
    text-align: center;
  }
  .hero-image__wrapper {
    margin: 6.25rem 0 0 2.5rem;
    width: 16.25rem;
    height: 17.3rem;
  }
  .about__row {
    margin: 0;
  }
  .about-heading {
    max-width: 19rem;
  }
  .about__text {
    margin: 0;
    width: 90%;
    max-width: 45rem;
  }
  .about__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .about__image-wrapper {
    margin-top: 2.5rem;
    max-width: 16.25rem;
  }
  .about-subheading:nth-child(3) {
    margin-top: 1.3rem;
  }
  .pets__row {
    margin-top: 2.625rem;
  }
  .pets__slider {
    margin-bottom: 7.125rem;
  }
  .button__arrow {
    top: 46%;
  }
  .button__arrow-prev {
    left: 25%;
  }
  .button__arrow-next {
    right: 25%;
  }
  .help {
    padding-bottom: 0.6rem;
  }
  .help-list {
    padding: 0;
  }
  .help-list__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2.625rem 0 0;
    width: 100%;
  }
  .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.9rem;
    width: 44%;
    max-width: 8.125rem;
  }
  .list-item:nth-child(2) {
    padding-right: 0.8rem;
  }
  .list-item:nth-child(3) {
    padding-right: 0rem;
  }
  .list-item:nth-child(4) {
    padding-right: 0.8rem;
  }
  .list-item:nth-child(6) {
    padding-right: 0.8rem;
  }
  .list-item:nth-child(7) {
    padding-right: 0.8rem;
  }
  .list-item:nth-child(8) {
    padding-right: 0rem;
  }
  .list-item:nth-child(9) {
    padding-left: 0rem;
  }
  .item__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .item-img__wrap {
    margin-bottom: 1.3rem;
    width: 50px;
    height: 50px;
    min-height: auto;
  }
  .item-heading {
    font-size: 0.9375rem;
    line-height: 110%;
    letter-spacing: 1px;
  }
  .donation {
    padding: 2.7rem 0 2.35rem;
  }
  .donation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  .donation-dog {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .donation-dog__wrap {
    padding-top: 0;
    max-width: 16.25rem;
  }
  .donation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 2.8rem;
    padding-left: 0;
    width: 100%;
    max-width: 17.25rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .donation-heading {
    max-width: 13rem;
  }
  .donation-subheading {
    margin-top: 1.2rem;
    text-align: start;
    font-size: 0.9375rem;
    letter-spacing: 0;
  }
  .credit-card {
    margin: 1.2rem 0 1.3rem;
    padding: 0.625rem 0 0.625rem 0.75rem;
    width: 100%;
  }
  .credit-card__link {
    font-size: 0.9375rem;
    line-height: 110%;
    letter-spacing: 1px;
  }
  .credit-card__desk {
    width: 100%;
    text-align: justify;
  }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.9rem 0 0.55rem 0;
    max-width: 23.75rem;
  }
  .footer__item-link {
    font-size: 1.25rem;
    line-height: 115%;
  }
  .footer__item:nth-child(2) {
    padding-left: 0;
  }
  .footer__item--puppy {
    margin-top: 2rem;
    padding: 0;
    width: 16.25rem;
    height: 16.8125rem;
  }
  .footer-puppy {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .footer-heading {
    max-width: 15rem;
  }
  .footer__location {
    margin-top: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */