*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.section {
  padding: 5rem 0 6.25rem;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 0.937rem 2.812rem;
  border: none;
  border-radius: 6.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1px;
  color: #292929;
  background-color: #F1CDB3;
}

.button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.paragraph-l {
  margin: 0;
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 160%;
  color: #4C4C4C;
}

.heading {
  margin: 0 auto;
  margin-bottom: 3.75rem;
  max-width: 26rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.187rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2.2px;
  color: #545454;
  text-align: center;
}

.header {
  position: absolute;
  top: 3.75rem;
  width: 100%;
}

.header__row {
  padding: 0 2.5rem 0 2.5rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.678rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0.2rem 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.menu__item {
  color: #ffffff;
}

.menu__item-link {
  position: relative;
  font-weight: 400;
  font-size: 0.937rem;
  line-height: 1.5;
  color: #CDCDCD;
}

.menu__item-link:hover {
  cursor: pointer;
  color: #FAFAFA;
}

.menu__item-link:hover::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.item-link__active {
  color: #FAFAFA;
}

.item-link__active::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  margin: 0 0 0.6rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #F1CDB3;
}

.logo__subtitle {
  margin: 0;
  font-size: 0.812rem;
  letter-spacing: 1.35px;
  color: #ffffff;
}

.hero {
  padding-top: 11.25rem;
  background: url("shelter/assets/images/start-screen-background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 2.5rem 0 2.5rem;
}

.hero-text {
  margin-right: 2.625rem;
  padding-top: 10.31rem;
  max-width: 28.75rem;
}

.hero__title {
  margin: 0 0 2.625rem 0;
  max-width: 23rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
}

.hero__subtitle {
  margin-bottom: 2.58rem;
  color: #ffffff;
}

.hero-image__wrapper {
  height: 45.5rem;
}

.about__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 10rem;
}

.about__text {
  margin-top: 1rem;
  max-width: 26.875rem;
}

.about-heading {
  margin: 0;
  max-width: 22.5rem;
  text-align: left;
}

.about-subheading {
  margin-top: 1.6rem;
  line-height: 1.5rem;
}

.pets {
  background-color: #F6F6F6;
}

.pets__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0 0 3.75rem;
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875rem;
  background-color: #FAFAFA;
}

.pets-card:nth-child(3) {
  margin: 0 2rem;
}

.pets-card__image {
  margin-bottom: 1.59rem;
}

.pets-card__name {
  margin-bottom: 1.875rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1px;
}

.button__arrow {
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: transparent;
}

.button__arrow:hover {
  cursor: pointer;
  background-color: #F1CDB3;
}

.button__arrow-prev {
  background: transparent url("/shelter/assets/icons/Arrow.svg") center center no-repeat;
}

.button__arrow-next {
  background: transparent url("/shelter/assets/icons/Arrow_next.svg") center center no-repeat;
}

.help-list {
  padding: 0 8rem;
}

.help-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.5rem;
  width: 100%;
}

.help-list__row--around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
  padding: 0 1.3rem;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-img__wrap {
  margin-bottom: 1.6rem;
}

.item-heading {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 1.2px;
}

.donation {
  padding-top: 4.2rem;
  background-color: #F6F6F6;
}

.donation__row {
  margin-right: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.donation-dog__wrap {
  padding-top: 1.68rem;
}

.donation__text {
  padding-left: 1.875rem;
  max-width: 23.75rem;
}

.donation-heading {
  max-width: 18.75rem;
}

.donation-subheading {
  margin-top: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.credit-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 1.3rem;
  padding: 0.625rem 0.9375rem;
  background-color: #F1CDB3;
  border: none;
  border-radius: 0.5625rem;
}

.credit-card__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credit-card__link {
  padding-left: 0.9375rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 1.2px;
  color: #545454;
}

.credit-card__desk {
  margin: 0;
  width: 24rem;
  font-style: italic;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #B2B2B2;
}

.footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2.4rem;
}

.footer-heading {
  max-width: 18rem;
  color: #ffffff;
}

.footer__item {
  padding: 1.2rem 2.5rem 0;
  max-width: 23.75rem;
}

.footer__item:nth-child(2) {
  padding-left: 2.1rem;
}

.footer__item-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.footer__item--puppy {
  padding-top: 0;
}

.footer__item-link {
  padding-left: 1.25rem;
  color: #F1CDB3;
}

.footer__location {
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */